@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-color: #ecf0f1;
  --sub-color: #2c3e50;
}
html {
  background-color: var(--main-color);
}
.App {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
  color: var(--sub-color);
}
nav {
  display: block;
  margin: auto;
  padding: 2rem;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.main {
  display: block;
  margin: auto;
  max-width: 500px;
}
.name {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.input-date {
  display: block;
  margin: auto;
  padding: 0.2rem;
  font-size: 1.2rem;
  width: 90%;
  outline: none;
}
.input-num {
  display: block;
  margin: auto;
  padding: 0.2rem;
  font-size: 1.2rem;
  width: 90%;
  outline: none;
}
.check-num {
  display: block;
  margin: 2rem auto;
  font-size: 1.6rem;
}

.showResult {
  display: block;
  margin: auto;
  padding: 1rem;
  font-size: 1.5rem;
}

footer {
  margin: auto;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.link {
  margin: auto;
  padding: 0.8rem;
  color: var(--sub-color);
}
.foot-button:hover {
  transform: scale(1.3);
}
